<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingdee.internet.repository.ccbp.CCBPDao" >

	<sql id="columns">
		ID,
		ACCOUNTNO,
		CURRENCY,
		FLAG,
		MONEY,
		BALANCE,
		OTHERACCOUNTNO,
		TRANSFERINTIME,
		OTHERORGNAME,
		CHANNEL,
		SERIALNO,
		ACCOUNTTYPE,
		DIGEST,
		OTHERBANKNAME
	</sql>

	<insert id="insertAll" parameterType="java.util.List">
		INSERT INTO T_BD_CCB_P (<include refid="columns" />)
		<foreach collection="list" item="item" separator=" union all ">
			SELECT
			#{item.id},
			#{item.accountNo},
			#{item.currency},
			#{item.flag},
			#{item.money},
			#{item.balance},
			#{item.otherAccountNo},
			#{item.transferInTime},
			#{item.otherOrgName},
			#{item.channel},
			#{item.serialNo},
			#{item.accountType},
			#{item.digest},
			#{item.otherBankName}
			FROM DUAL
			WHERE NOT EXISTS (
			SELECT
			1
			FROM
			T_BD_CCB_P a
			WHERE
			a.ACCOUNTNO = #{item.accountNo}
			AND
			a.TRANSFERINTIME = #{item.transferInTime}
			AND
			a.BALANCE = #{item.balance}
			)
		</foreach>
	</insert>

	<insert id="batchEnterpriseInsert"   parameterType="java.util.List">
		insert into T_BD_ENTERPRISE (
		ID,
		ENTERPRISENAME,
		ACCOUNTNO,
		BANKTYPE
		)
		<foreach collection="list" item="item" index="index" separator=" union all " >
			SELECT
			#{item.id},
			#{item.enterpriseName},
			#{item.accountNo},
			#{item.bankType}
			FROM  DUAL  where not exists(
			select 1 from T_BD_ENTERPRISE A
			where  A.enterpriseName = #{item.enterpriseName}
			and   A.accountNo = #{item.accountNo}
			)
		</foreach>
	</insert>

</mapper>